name: Semgrep
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Semgrep
        uses: returntocorp/semgrep-action@v1.95.0
        with:
          config: auto
          publishToken: ${{ secrets.SEMGREP_APP_TOKEN }}
      - name: Upload results to GitHub code scanning
        if: always()
        uses: github/codeql-action/upload-sarif@v3.27.9
        with:
          sarif_file: semgrep.sarif
